<button id="getComments">Get</button>

<ul data-bind="template: {name: 'comentTemplate', foreach: comments}"></ul>

<script type="text/html" id="comentTemplate">
    <li>
        <div>
            <p>Id: <span data-bind="text: Id"></span></p>
            <p>Autor: <span data-bind="text: Autor"></span></p>
            <p>Text: <span data-bind="text: Text"></span></p>
            <a href="#" class="deleteBtn" data-bind="attr: {'comment-id': Id}" >Delete</a>
            <hr />
        </div>
    </li>
</script>

<script type="text/javascript">
    function AppViewModel() {
        this.comments = ko.observableArray([]);
    }
    viewModel = new AppViewModel();
    ko.applyBindings(viewModel);
</script>