@using WebAPI_test.Models;

@model IEnumerable<Comment>
<table>
    <tr>
        <th>Id</th>
        <th>Autor</th>
        <th>Text</th>
    </tr>
    @foreach (Comment c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Autor</td>
            <td>@c.Text</td>
        </tr>
    }
</table>


